/* --- ALGEMEEN --- */
.margin50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

/* ---  NAVIGATIE  --- */
.navDesign {
  background-color: white;
}

.navbar-default .navbar-brand {
  color: #343432 !important;
}

.navContainer {
  height: 100px;
}

.menuContainer {
  margin-top: 50px;
}

.hGreen a:hover {
  color: #7FC348 !important;
}

.hGray a:hover {
  color: #373736 !important;
}

.hOrange a:hover {
  color: #F15B28 !important;
}

.hMagenta a:hover {
  color: #D51C5C !important;
}

.itemBg {
  margin-top: -1px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e7e7e7;
}

/* ---  TOP CARD  --- */
.topContainer {
  margin-top: 160px;
}

.center {
  text-align: center;
}

.jumboClass {
  height: 475px !important;
  background-image: url("../images/jumboBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* ---  FEATURES  --- */
.features {
  margin-top: 80px;
}

.featureContainer {
  height: 180px;
}

.imgRatio {
  max-width: 140px;
  max-height: 140px;
}

.green {
  color: #7FC348 !important;
}

.gray {
  color: #373736 !important;
}

.orange {
  color: #F15B28 !important;
}

.magenta {
  color: #D51C5C !important;
}

.greenB {
  background-color: #7FC348 !important;
  color: black !important;
}

.grayB {
  background-color: #373736 !important;
  color: white !important;
}

.orangeB {
  background-color: #F15B28 !important;
  color: white !important;
}

.magentaB {
  background-color: #D51C5C !important;
  color: white !important;
}

.featuresBottom {
  margin-bottom: 100px;
}

/* --- ABOUT FRONTPAGE --- */
.about {
  background-color: #373736;
}

.aboutText {
  color: white;
}

.size-12 {
  font-size: 8px;
}

.aboutMargin {
  margin-top: 75px;
  margin-bottom: 75px;
}

/* --- COMPUTING --- */
.computingAbout {

}

/* --- DESIGN --- */
.designHeader {
  height: 600px !important;
  background-image: url("../images/jumboBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.designAbout {

}

.designRef hr {
  border-top: 1px solid #D8D8D8;
}

/* --- FOOTER --- */
.footContainer {
  height: 100px;
  background-color: #2b2b2b;
  color: white;
}

.footer {
  margin-top: 42px;
}

.footer a {
  color: #F15B28;
}

.social {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
